.event-date{
    font-size: 19px;
}
.event-name{
    height: 120px; width: 100%
}

.event-email{
    font-size: 15px;
}

.event-well{
    height: 120px; width: 100%
}

.restaurant-phone{
    display: inline;padding-left: 100px
}

.restaurant-phone-block{
    margin-bottom: 5px
}

.common-order-block{
    margin-top: 30px;
}

.order-status-btn{
    margin-left: 100px;
}