.event-date {
    font-size: 19px;
}

.event-name {
    height: 120px;
    width: 100%
}

.event-email {
    font-size: 15px;
}

.event-well {
    height: 120px;
    width: 100%
}

.restaurant-phone {
    display: inline;
    padding-left: 50px
}

.restaurant-phone-block {
    margin-bottom: 5px
}

.common-order-block {
    margin-top: 30px;
}

.order-status-btn {
    margin-left: 80px;
    margin-top: -9px;
}

.editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select, .editable-wrap .editable-controls > textarea {
    margin-bottom: 0;
    width: 100px;
}

.item-amount {
    text-decoration: none;
    color: #428bca;
    border-bottom: dashed 1px #428bca;
    width: 30px;
}

.fa-style {
    padding: 5px;
}

.restaurant-common-name {
    margin-left: 14px;
}

.order-status {
    font-size: 26px;
    color: black;
    margin-left: 50px;
}

.order-status p{
    margin-left: 15px;
}