.price .editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select, .editable-wrap .editable-controls > textarea {
    margin-bottom: 0;
    width: 50px;
}

.phone .price .editable-wrap .editable-controls > input, .editable-wrap .editable-controls > select, .editable-wrap .editable-controls > textarea {
    margin-bottom: 0;
    width: 500px;

}

.phone {
    margin-left: 120px;
}