
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0;
}

.md-text {
    font-size: 25px;
}

.xs-text {
    font-size: 13px
}

.event-detail-block {
    height: 120px;
    width: 100%;
}

.item-number {
    width: 40px;
    margin: 0 8px;
    height: 24px;
}

.restaurant-details {
    margin-top: 30px;
}

.order-list-block {
    width: 25%;
}

.pointer {
    cursor: pointer;
}

.item-plus-color {
    color: green;
}

.item-minus-color {
    color: red;
}

.inline {
    display: inline;
}

.create-item-form {
    margin-top: 15px;
}

.nav-justified {
    margin-top: 10px
}

.item-minus-margin {
    margin-right: 5px;
}

.item-plus-margin {
    margin-right: 5px;
}

.bs-callout {
    padding: 10px;
    border-left-width: 5px;
    border-radius: 3px;
}

.head > th div {
    padding-left: 12px;
}

.order-select {
    margin-right: 13px;
    margin-top: 19px;
}

.order-select select {
    padding: 7px;
}

.responsible-for-order {
    margin-top: 10px;
}

.popover-style {
    position: absolute;
    top: -58px;
    left: 27px;
    display: inline-block;
    width: 220%;
}

.item-delete {
    margin-left: 22px;
}

.cursor {
    cursor: pointer;
}

.item-remove {
    padding-left: 5px;
}

.search-input {
    width: 220px;
    margin-left: 70px;
    margin-top: 18px;
}

.freeze-alert {
    margin-left: 65px;
    margin-right: 14px;
}

.modal-text {
    font-size: 26px;
}

.editable-empty, .editable-empty:hover, .editable-empty:focus, a.editable-empty, a.editable-empty:hover, a.editable-empty:focus {
    color: #428bca;
}