<div class="common-order-block">
    <div>
        <div class="well pull-left event-detail-bloc">
            <div class="col-md-6 md-text">
                {{event.name}}
            </div>
            <div class="col-md-offset-10 event-date-font-size">
                <div class="col-md-offset-5">
                    <div class="event-list-date pull-right">
                        <p class="row">
                        <p class="text-center" style="font-size: 30px">{{event.date.dayOfMonth}}</p>
                        <p class="text-center" style="font-size: 24px"> {{event.date.month | limitTo: 3 | lowercase |
                            capitalize}}</p>
                        <p style="font-size: 22px"> {{event.date.year}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 create-event-user-text">Created by  {{user.data.name}} {{user.data.familyName}} </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <div class="col-md-12" style="padding-bottom: 20px"><h1 class="text-center">Order details</h1></div>

            <div class="col-md-12 restaurant-phone-block">
                <h1 class="inline restaurant-common-name">{{restaurant.name}}</h1>

                <h3 class="restaurant-phone"><i class="fa fa-phone" aria-hidden="true"></i> {{restaurant.phone}}
                </h3>

                <div class="inline order-status" ng-if="order.status == 'PENDING'">Status:<p class="inline label label-primary">Active</p></div>
                <div class="inline order-status" ng-if="order.status == 'FREEZE'">Status:<p class="inline label label-primary">Frozen</p></div>
                <div class="inline order-status" ng-if="order.status == 'SPLIT_BILL'">Status:<p class="inline label label-primary">Send to Split Bill</p></div>

                <button class="order-status-btn btn btn btn-primary"
                        ng-if="order.status == 'PENDING'"
                        ng-click="changeOrderStatusToFreeze(orderId)">freeze order
                </button>

                <form class="inline" style="margin-top: -22px;" ng-if="order.status == 'FREEZE'">
                    <input ng-model="splitBillId" class="form-control inline" placeholder="split-bill event id"
                           type="text" style="width: 150px; margin-left: 40px" required>
                    <button class=" btn btn-primary"
                            ng-click="changeOrderStatusToBill(orderId, splitBillId)">Split-bill
                    </button>
                </form>
            </div>
    </div>
    <div>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <table class="table table-bordered">
                        <tr>
                            <th>Name</th>
                            <th>Amount</th>
                            <th>Price</th>
                            <th>Cost</th>
                        </tr>
                        <tr ng-repeat="item in commonOrders| orderBy:'restaurant.name'" class="items">
                            <td>{{item.item.name}}</td>
                            <td>
                                <change-item-amount-directive amount="item.itemAmount" item-id="{{item.item.id}}"
                                                              order-id="{{orderId}}"
                                                              item-name="{{item.item.name}}">

                                </change-item-amount-directive>
                            </td>
                            <td>
                                <div style="width: 120px">
                                    <a href="#" class="inline" editable-number="item.item.price" e-min="0"
                                       onbeforesave="updatePrice(item.item.id, $data)">{{
                                        item.item.price || 'set price ' }}&#8372 </a>
                                </div>
                            </td>
                            <td>
                                {{item.itemAmount * item.item.price| percentageFilter: getPercentageDiscount(order.percentageDiscount, order.amountDiscount)
                                |currency:" "}} &#8372
                            </td>
                        </tr>

                        <tr>
                            <td>
                                <angucomplete id="ex1"
                                              placeholder="Search member"
                                              pause="100"
                                              url="orders/{{orderId}}/items/"
                                              selectedobject="selected"
                                              searchfields="item"
                                              titlefield="name"
                                              minlength="1"
                                              inputclass="form-control form-control-small">
                                </angucomplete>

                            {{selected.originalObject.item}}
                            </td>
                            <td></td>
                            <td></td>
                            <td>
                                <button class=" btn btn-primary"
                                        ng-if="order.status == 'PENDING'"
                                        ng-click="addOneItemToOrder(selected.originalObject.id, orderId)">Add to order
                                </button>
                            </td>
                        </tr>

                        <tr>
                            <td><h4>Discount %</h4></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div style="width: 100px">
                                    <h4>
                                        <a href="#" class="inline" editable-number="order.percentageDiscount"
                                           onbeforesave="updatePercentageDiscount(order.id, $data)" e-min="0" e-max="100">
                                            {{order.percentageDiscount ? order.percentageDiscount : 0}} %
                                        </a>
                                    </h4>
                                </div>
                            </td>
                        </tr>


                        <tr>
                            <td><h4>Discount &#8372</h4></td>
                            <td></td>
                            <td></td>
                            <td><div style="width: 100px">
                                <h4>
                                <a href="#" class="inline" editable-number="order.amountDiscount"
                                   onbeforesave="updateAmountDiscount(order.id, $data)"  e-min="0">
                                    {{order.amountDiscount ? order.amountDiscount : 0}} &#8372
                                </a>
                            </h4>
                            </div>
                            </td>
                        </tr>

                        <tr>
                            <td><h4>Shipping</h4></td>
                            <td></td>
                            <td></td>
                            <td><h4>0 &#8372</h4></td>
                        </tr>
                        <tr>
                            <td><h3>Total</h3></td>
                            <td></td>
                            <td></td>
                            <td>
                                <div class=""><h4>{{getTotal()|percentageFilter: getPercentageDiscount(order.percentageDiscount, order.amountDiscount)|currency:""}}&#8372</h4>
                                </div>
                            </td>
                        </tr>
                    </table>

                </div>
            </div>
        </div>
    </div>
</div>

