<div ng-controller="eventController">
<div class="event-details">
    <div>
        <div class="well pull-left event-detail-bloc">
            <div class="col-md-6 md-text">
                {{event.name}}
            </div>
            <div class="col-md-offset-10 event-date-font-size">
                <div class="col-md-offset-4">
                    <div class="event-list-date pull-right">
                        <p class="row">
                        <p class="text-center" style="font-size: 30px">{{event.date.dayOfMonth}}</p>
                        <p class="text-center" style="font-size: 24px"> {{event.date.month | limitTo: 3 | lowercase | capitalize}}</p>
                        <p style="font-size: 22px"> {{event.date.year}}</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 create-event-user-text">Created by {{event.user.name}} {{event.user.familyName}}</div>
        </div>
    </div>
</div>


<div class="container">
    <div class="row">
<div class="col-md-9 col-xs-12">
        <div ng-repeat="restaurant in restaurants | orderBy: 'name'" class="panel panel-default create-restaurant-form">
            <div class="restaurant-block">
                <div class="row">
                    <div class=" col-md-7 col-xs-7">
                        <h3>
                            <a ng-if="restaurant.orderPlacementStatus" href="{{'#/'+ eventId}}/{{restaurant.id}}/{{restaurant.orderPlacementStatus.order.id}}"
                               class="restaurant-name">
                                 {{restaurant.name}}
                            </a>
                            <a ng-if="!restaurant.orderPlacementStatus" href="{{'#/'+ eventId}}/restaurant/{{restaurant.id}}/menu"
                               class="restaurant-name">
                                {{restaurant.name}}
                            </a>
                        </h3>
                        <div>
                        <a target="_blank" style="padding-bottom: 0" href="{{restaurant.link}}" class="restaurant-contact">
                            <i ng-if="restaurant.link"  class="fa fa-link" aria-hidden="true"></i> {{restaurant.link}}
                        </a>
                        <p ng-if="restaurant.phone" class="restaurant-contact"><i class="fa fa-phone" aria-hidden="true"></i> {{restaurant.phone}}</p>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class=" event-text-size participant-title">
                            <p class="active-order-amount badge" >{{restaurant.activeOrderAmountByRestaurant ? restaurant.activeOrderAmountByRestaurant + ' active orders' :'There is no active orders' }}</p><br>
                            <p class="participant-amount badge" data-ng-if="restaurant.orderPlacementStatus.participantsAmount"> {{restaurant.orderPlacementStatus.participantsAmount}} {{ restaurant.orderPlacementStatus.participantsAmount == 1 ? 'participant' : 'participants' }} </p>
                        </div>

                        <div ng-if="restaurant.orderPlacementStatus.payer != null">
                            <p ng-if="restaurant.orderPlacementStatus.payer.email != user.data.email" >
                                {{restaurant.orderPlacementStatus.payer.familyName}} {{' '+restaurant.orderPlacementStatus.payer.name}} responsible for order
                            <p>
                        </div>

                        <div ng-if="restaurant.orderPlacementStatus.payer != null">
                            <p ng-if="restaurant.orderPlacementStatus.payer.email == user.data.email" >
                                You are responsible for making order
                            <p>
                        </div>
                        <div ng-if="restaurant.orderPlacementStatus.payer == null">
                            <p ng-if="restaurant.orderPlacementStatus.payer.email != user.data.email">
                            <p> No one responsible for order</p>
                            <p>
                        </div>
                    </div>
                </div>

              </div>
        </div>
</div>

    <div class=" col-md-3 col-xs-12 create-restaurant-block pull-right" >
        <form class="create-restaurant-form" role="form" ng-submit="createRestaurant(restaurant)">
                <div class="form-group">
                    <input type="text" placeholder="Name*" ng-model="restaurant.title" class="form-control" id="name"
                           name="name" required>
                </div>
                <div class="form-group">
                    <input placeholder="Link" type="url" ng-model="restaurant.link" class="form-control" id="link"
                           name="link">
                </div>
                <div class="form-group">
                    <input placeholder="Phone*" type="number" ng-model="restaurant.phone" class="form-control"
                           id="phone"
                           name="phone" required>
                </div>
                <button type="submit" class="btn btn-success pull-right">Add restaurant</button>
        </form>
    </div>
</div>


</div>
</div>

