    <div class="events">
        <div class="container">
            <div class="row">
                <div class="col-sm-9 col-md-9 col-xs-9 ">
                    <div ng-if="events.length == 0">
                        <div class="event-well">
                        </div>
                    </div>
                    <div ng-repeat="event in events | orderBy:['-date.year','-date.monthValue','-date.dayOfMonth','-date.hour','-date.minute']">
                        <div class="event-well">
                            <div class="row event-detail">
                                <div class="col-md-7 col-xs-8 margin-left-4">
                                    <a href="#/events/{{event.id}}" class="event-title">{{event.name}}</a>
                                </div>
                                <div class="event-list-date pull-right">
                                    <p class="row">
                                       <p class="text-center" style="font-size: 30px">{{event.date.dayOfMonth}}</p>
                                       <p class="text-center" style="font-size: 24px"> {{event.date.month | limitTo: 3 | lowercase | capitalize}}</p>
                                       <p style="font-size: 22px"> {{event.date.year}}</p>
                                </div>
                                <div class="col-md-4 col-xs-4 margin-left-4">
                                    <p class="event-creator">created by {{user.data.name}} {{user.data.familyName}} </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-sm-3 col-md-3 col-xs-3 pull-right" ng-controller="createEventController">
                    <form role="form" ng-submit="createEvent(name,date)">
                        <div>
                            <div class="form-group">
                                <input ng-model="name" type="text" class="form-control event-name-input" id="name"
                                       placeholder="Event title*"
                                       name="name" required>
                            </div>
                            <div class="form-group">
                                <input kendo-date-picker class="form-control" type="text" ng-model="str" k-ng-model="date"
                                       style="width: 100%;height: 27px;margin-bottom: 1px;"
                                       k-options="dateTimePickerConfig" required placeholder="Event date*"/>
                            </div>
                            <button type="submit" class="btn btn-success pull-right">Add event</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
