<div ng-controller="eventController">
<div class="event-details">
    <div>
        <div class="well pull-left event-detail-bloc">
            <div class="col-md-6 md-text">
                {{event.name}}
            </div>
            <div class="col-md-offset-10 event-date-font-size">
                <div class="col-md-offset-4">
                    {{event.date.dayOfMonth}} {{event.date.month | limitTo: 3}}
                    {{event.date.hour|toMinute}}:{{event.date.minute|toMinute}}
                </div>
            </div>
            <br/>
            <div class="row"></div>
            <div class="col-md-6 create-event-user-text">Created by {{event.user.name}}</div>
        </div>
    </div>
</div>
<div class="col-md-offset-1 col-sm-offset-1 col-md-8 col-sm-8">
    <div class="panel-group col-md-offset-1 col-sm-offset-1 col-md-10 col-sm-11" id="accordion" role="tablist"
         aria-multiselectable="true">
        <div ng-repeat="restaurant in restaurants | orderBy: 'name'"
             class="panel panel-default create-restaurant-form">
            <div class="restaurant-block">
                <div class=" col-md-4">
                    <h3>
                        <a href="{{'#/'+ eventId}}/{{restaurant.id}}/{{restaurant.orderPlacementStatus.order.id}}"
                           class="md-text">
                            {{restaurant.name}}
                            {{restaurant.orderPlacementStatus.order.id}}
                        </a>
                    </h3>
                </div>
                <div class="col-md-4 pull-right event-text-size participant-title">
                    Participants amount: {{restaurant.orderPlacementStatus.participantsAmount}}
                </div>
                <br>
                <div class="col-md-offset-4 col-md-4 ">
                    <h2 class="col-md-offset-4 create-event-user-text"></h2>
                </div>
                <br/>
                <div class="row"></div>
                <div ng-if="restaurant.link" class="col-md-8">
                    <a href="{{restaurant.link}}" target="_blank" class="xs-text">
                        <i class="fa fa-link" aria-hidden="true"></i> {{restaurant.link}}
                    </a>
                </div>
                <br/>
                <div ng-if="restaurant.phone" class="col-md-4 pull-left xs-text restaurant-info-size">
                    <i class="fa fa-phone" aria-hidden="true"></i> {{restaurant.phone}}
                </div>

                <div ng-if="restaurant.orderPlacementStatus.payer == null"
                     class="btn btn-success pull-right"
                     ng-click="takeResponsibility(restaurant.orderPlacementStatus.order.id)">
                    Take Responsibility
                </div>
                <div ng-if="restaurant.orderPlacementStatus.payer != null">
                    <p ng-if="restaurant.orderPlacementStatus.payer.email != user.data.email" class="pull-right"
                       style="padding-right: 20px">
                        Responsible for order:
                        {{restaurant.orderPlacementStatus.payer.email}}
                    <p>
                    <div ng-if="restaurant.orderPlacementStatus.payer.email == user.data.email"
                         class="btn btn-success pull-right"
                         ng-click="removeResponsibility(restaurant.orderPlacementStatus.order.id)">
                        Remove responsibility
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
    <div class=" col-md-offset-0 col-md-2 create-restaurant-block" style="margin-left: -100px;">
        <form class="create-restaurant-form" role="form" ng-submit="createRestaurant(restaurant)">

            <div>
                <div class="form-group">
                    <input type="text*" placeholder="Name*" ng-model="restaurant.title" class="form-control" id="name"
                           name="name" required>
                </div>
                <div class="form-group">
                    <input placeholder="Link" type="url" ng-model="restaurant.link" class="form-control" id="link"
                           name="link">
                </div>
                <div class="form-group">
                    <input placeholder="Phone*" type="number" ng-model="restaurant.phone" class="form-control"
                           id="phone"
                           name="phone" required>
                </div>
                <button type="submit" class="btn btn-success pull-right">Add restaurant</button>
            </div>
        </form>
    </div>
</div>