<div class="popover ng-isolate-scope right fade in" tooltip-animation-class="fade"
     ng-class="{ in: isOpen() }"  uib-title="" content="On the right" placement="right"
     popup-class="" animation="animation" is-open="isOpen" origin-scope="origScope"
     style="top: 435px; left: 124px; margin-left: -235px;">
    <div class="arrow"></div>
    <div class="popover-inner">
        <div class="panel panel-default">
            <div class="panel-heading">item</div>
            <table class="table">
                <thead>
                <tr>
                    <th>Participant</th>
                    <th>Amount</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                    <td>Mark Smith</td>
                    <td> <i style="margin-right: 5px;margin-left:2px" class="fa fa-minus"></i>{{amount}}<i style="margin-left: 5px" class="fa fa-plus"></i></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>