<div class="restaurant-details">
    <div>
        <div class="well pull-left event-detail-block">
            <div class="col-md-6 md-text">
                {{restaurant.name}}
                <br>
                <a ng-if="restaurant.link" href="{{restaurant.link}}" target="_blank" class="xs-text"><i
                        class="fa fa-link" aria-hidden="true"></i> {{ restaurant.link}}</a>
                <p class="xs-text"><i class="fa fa-phone" aria-hidden="true"></i> {{restaurant.phone}}</p>
            </div>
            <div ng-if="responsible.email" class="col-md-6">
                <div class="pull-right"><p>{{responsible.email}}
                    <a href="{{'#/'+ eventId}}/{{restaurant.id}}/order" class="md-text">
                    <p> Make order</p></div>
                </a>
            </div>
            <br/>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-sm-8">
        <div class="panel-group col-md-offset-1 col-sm-offset-1 col-md-11 col-sm-11" id="accordion" role="tablist"
             aria-multiselectable="true">
            <table class="table ">
                <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in restaurant.itemList | orderBy: 'name'">
                    <td>
                        <div>{{item.name}}</div>
                    </td>
                    <td>
                        <div>{{item.price | currency:" "}} &#8372</div>
                    </td>
                    <td class="order-list-block">
                        <div ng-controller="orderList">
                            <div ng-repeat="itemInOrder in myOrders" class="inline">
                                <div ng-if="item.id == itemInOrder.item.id" class="inline">
                                    <a href="">
                                        <i
                                                ng-click="orderService.removeOneItemFromOrder(item.id, restaurant.orderPlacementStatus.order.id)"
                                                class="fa fa-minus item-plus-color" aria-hidden="true">
                                        </i>
                                    </a>
                                    <span>
                                        <input class="item-number" min="1" required type="number"
                                               ng-blur="orderService.updateNumberItemToOrder(item.id,restaurant.orderPlacementStatus.order.id,itemInOrder.itemAmount)"
                                               ng-init="count=itemInOrder.itemAmount"
                                               ng-model="itemInOrder.itemAmount"/>
                                    </span>
                                </div>
                            </div>
                            <div class="inline">
                                <a href=""
                                   ng-click="orderService.addOneItemToOrder(item.id,restaurant.orderPlacementStatus.order.id)">
                                    <i class="fa fa-plus item-plus-color" aria-hidden="true"></i></a>
                            </div>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
        <form class="create-item-form" role="form" ng-controller="createItem" ng-submit="createItem(name,price)">
            <fieldset>
                <div class="form-group">
                    <input type="text*" placeholder="Name*" class="form-control" ng-model="name" id="name"
                           name="name"
                           required>
                </div>
                <div class="form-group">
                    <input placeholder="Price*" type="text" class="form-control" ng-model="price" id="price"
                           name="price"
                           required>
                </div>
                <input hidden type="text" name="restaurantId" value="{{restaurantId}}">
                <button type="submit" class="btn btn-success pull-right">Add item</button>
            </fieldset>
        </form>
        <div ng-controller="orderList">
            <div>
                <ul class="nav nav-tabs nav-justified">
                    <li class="pointer" role="presentation" ng-class="myItems"
                        ng-click="myItems = 'active'; allItems = ''; updateOrderList()"><a>My
                        items</a></li>

                    <li class="pointer" role="presentation" ng-class="allItems"
                        ng-click="allItems = 'active'; myItems = ''; CommonOrder()"><a>All
                        items</a></li>
                </ul>
                <table class="table">
                    <tr>
                        <th>Name</th>
                        <th>Amount</th>
                        <th>Price</th>
                        <th></th>
                    </tr>
                    <tr ng-repeat="item in myOrders| orderBy:'restaurant.name'">
                        <td>{{item.item.name}}</td>
                        <td>
                            <div>
                                <a class="item-minus-margin" href=""><i
                                        ng-click="orderService.removeOneItemFromOrder(item.item.id, restaurant.orderPlacementStatus.order.id)"
                                        class="fa fa-minus item-plus-color" aria-hidden="true"></i></a>
                                <span style="">{{item.itemAmount}}</span>
                                <a href=""
                                   ng-click="orderService.addOneItemToOrder(item.item.id,restaurant.orderPlacementStatus.order.id)"
                                   class="item-minus-margin">
                                    <i class="fa fa-plus item-plus-color" aria-hidden="true"></i></a>
                            </div>
                        </td>
                        <td>{{item.itemAmount * item.item.price|currency:" "}}&#8372</td>
                        <td><a href="" ng-click="orderService.removeFromOrder(restaurant.orderPlacementStatus.order.id,item.item.id)"><i
                                class="fa fa-times item-minus-color"
                                aria-hidden="true"></i></a>
                        </td>
                    </tr>
                    <tr>
                        <td><b>Total</b></td>
                        <td></td>
                        <td>{{getTotal() |currency:" "}}&#8372</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
