<div class="restaurant-details">
    <div>
        <div class="well pull-left event-detail-block">
            <div class="col-md-6 md-text">
                {{restaurant.name}}
                <br>
                <a ng-if="restaurant.link" href="{{restaurant.link}}" target="_blank" class="xs-text"><i
                        class="fa fa-link" aria-hidden="true"></i> {{ restaurant.link}}</a>
                <p class="xs-text"><i class="fa fa-phone" aria-hidden="true"></i> {{restaurant.phone}}</p>
            </div>
            <br/>
        </div>
    </div>
</div>
<div class="container">
    <div class="col-md-8 col-sm-8">
        <div class="panel-group col-md-offset-1 col-sm-offset-1 col-md-11 col-sm-11" id="accordion" role="tablist"
             aria-multiselectable="true">
            <div class="bs-callout bs-callout-info"  style="margin-bottom: 30px">

            <p class="bg-danger" style="padding: 15px;">There is no active order</p>
                <div class="text-center">
                <button class="btn btn-success" ng-click="createOrder()">Create order</button>
                </div>

            </div>

            <table class="table ">
                <thead>
                <tr class="head">
                    <th><div>Name</div></th>
                    <th><div>Price</div></th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="item in restaurant.itemList | orderBy: 'name'">
                    <td>
                        <div>{{item.name}}</div>
                    </td>
                    <td>
                        <div>{{item.price | currency:" "}} &#8372</div>
                    </td>
                </tr>
                <tr ng-controller="createItem"  ng-controller="createItem" style="padding-top: 10px">
                    <td>
                        <input type="text*" placeholder="Name*" class="form-control" ng-model="name" id="name"
                               name="name"
                               required>
                    </td>
                    <td>
                        <input placeholder="Price*" type="text" class="form-control" ng-model="price" id="price"
                               name="price"
                               required>
                    </td>
                    <td>
                        <input hidden type="text" name="restaurantId"  value="{{restaurantId}}">
                        <button type="submit" class="btn btn-success" data-ng-click="createItem(name, price)">Add item</button>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <div class="col-md-3">
    </div>
</div>
